**/.DS_Store
.settings
.project
.classpath
.vscode
techexercise.code-workspace
app-static-web/node_modules
app-static-web/yarn.lock
app-static-web/build/*
app-static-web/dist/js/*
app-static-web/target/*.tar.gz
app-static-web/yarn-error.log
